@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserLoginModel

<form asp-action="Login" asp-controller="Account">
    @if (ViewData["LoginError"] is not null)
    {
        <div><span class="">@ViewData["LoginError"]</span></div>
    }

    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" type="email" />

    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" />


    <label asp-for="RePassword"></label>
    <input asp-for="RePassword" type="password" />

    <button>Log In</button>

</form>